*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #FFFEFE;
    --white: #f3f2f3;
    --text-color: #101010;
    --black: #101010;
    --main-color: #0736f9;
    --darker-blue: #000894;
    --gray: #d9d8d8;
}
body{
    min-height: 1500px;
    background-color: var(--bg-color);
    color: var(--black);
    overflow: overlay;
}
header{
    position: static;
    width: 100%;
    height: 53px;
    top: -50px;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 28px 12%;
    transition: all .50s ease;
} 
.logo {
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 0px;
    margin: 0px 30px;
    transition: all .50s ease;
    cursor: pointer;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar .active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--bg-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.button{
    display: flex;
    align-items: center;
    background: var(--main-color);
    border-radius: 20px;
    /* padding: 0 20px; */
    height: 32px;
}

.button span{
    font-size: 14px;
    padding: 32px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main a:hover{
    color: var(--white);
    background: #007d04;
    transform: scale(1.1);
}
.content {
    margin-top: 0px;
    height: 477px;
    display: flex;
    background-color: var(--main-color);
    color: var(--white);
}
.content .block{
    margin: 100px 7.3%;
    width: 362px;
}
.content .block h2{
    box-sizing: border-box;
    font-size: 39px;
    font-weight: 600;
    line-height: 39px;
    margin-bottom: 1rem;
}
.content .block p{
    margin-bottom: 2rem;

}
.content .block .b{
    align-items: center;
    background: var(--darker-blue);
    color: var(--white);
    border-radius: 40px;
    padding: 8px 20px;
}
.b span{
    font-size: 15px;
}

#second{
    margin-top: 0;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 32px;
    height: auto;
}
#second .title{
    align-items: center;
    justify-content: center;
    max-width: 77%;
    width: 77%;
}
#second .title h2{
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-justify: inter-word;
    color: var(--main-color);
}
#second .text{
    margin-top: 35px;
    text-align: center;
    text-justify: inter-word;
    line-height: 24px;
    max-width: 70%;
    width: 70%;
    color: #333333;
}

#third{
    background: #f3f2f3;
}
#third .boxes{
    background: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
#third .boxes .box{
    background: var(--gray);
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#third .boxes .box:hover{
    background: var(--main-color);
}
#third .boxes .box h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: inter-word;
    font-size: 40px;
    padding-top: 10px;
    color: var(--main-color);
    transition: all 0.5s ease-in-out;
}
#third .boxes .box:hover h2{
    color: white;
}

#services{
    background: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#services .title{
    align-items: center;
    justify-content: center;
    max-width: 77%;
    width: 77%;
}
#services .title h2{
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-justify: inter-word;
    color: var(--black);
}
#services .text{
    margin-top: 35px;
    text-align: center;
    text-justify: inter-word;
    line-height: 24px;
    max-width: 70%;
    width: 70%;
    color: #333333;
}
.container{
    padding: 25px;
    margin: 20px;
    width: 1060px;
}
.gallery img{
    padding: 5px;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
}
.gallery img:hover{
    transform: scale(1.05);
    border-radius: 10px;
}

.slick-prev:before{
    color: var(--main-color);
}
.slick-next:before{
    color: var(--main-color);
}
#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
#quote .quoteBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
#quote .quoteBlock h2{
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    text-justify: inter-word;
}

#portfolio {
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 400px;
}
#portfolio .portBlock{
    padding: 20px;
}
#portfolio .portBlock h2{
    text-align: center;
    text-justify: inter-word;
    margin: 20px;
    font-size: 40px;
    font-weight: bolder;
    color: var(--black);

}
#portfolio .portBlock p{
    background: var(--main-color);
    text-align: center;
    text-justify: inter-word;
    margin-top: 100px;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
#portfolio .portBlock p:hover{
    transform: scale(1.1);
}



#contact {
    height: 200px;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
#contact .form{
    padding: 20px;
}
#contact .form h2{
    text-align: center;
    text-justify: inter-word;
    font-size: 40px;
    font-weight: 900;
    color: var(--bg-color);

}
#contact .form p{
    text-align: center;
    text-justify: inter-word;
}

#footer {
    display: flex;
    width: 100%;
    height: 120px;
    background: #000;
    justify-content: center;
    align-items: center;
}
#footer .foot{
    padding: 20px;
}
#footer img{
    filter: var(--bg-color);
}


@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}
@media (max-width: 1080px){
    .navbar{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        color: var(--black);
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }
    .container{
        max-width: 800px;
    }
}
@media (max-width: 800px){
    .container{
        max-width: 600px;
    }
}
@media (max-width: 790px){
    #third .boxes .box{
        width: 300px;
        height: 150px;
    }
    #third .boxes .box h2{
        padding-top: 0px;
        font-size: 30px;
    }
}
@media (max-width: 720px){
    .navbar a{
        display: none;
    }
}
@media (max-width: 690px){
    #third .boxes .box{
        width: 150px;
        height: 150px;
        padding: 0px;
        margin: 5px;
    }
    #third .boxes .box h2{
        padding-top: 50px;
        font-size: 30px;
    }
}
@media (max-width: 600px){
    .container{
        max-width: 400px;
    }
}
@media (max-width: 500px){
    #third .boxes{
        flex-direction: column;
    }
    #third .boxes .box{
        width: 100%;
        height: 80px;
        padding: 0px;
        margin: 5px;
    }
    #third .boxes .box h2{
        padding-top: 15px;
        font-size: 30px;
    }
}
@media (max-width: 400px){
    .container{
        max-width: 300px;
    }
    
}
@media (max-width: 345px){
    .container{
        max-width: 250px;
    }
}


/*CUSTOM SCROLL*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #151515dd;
    /* border-radius: 20px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black);
  }