*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #FFFEFE;
    --white: #f3f2f3;
    --text-color: #101010;
    --black: #101010;
    --main-color: #0736f9;
    --darker-blue: #000894;
}
body{
    min-height: 1500px;
    background-color: var(--bg-color);
    color: var(--black);
    overflow: overlay;
}
header{
    position: static;
    width: 100%;
    height: 53px;
    top: -50px;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 28px 12%;
    transition: all .50s ease;
} 
.logo {
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 0px;
    margin: 0px 30px;
    transition: all .50s ease;
    cursor: pointer;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar .active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--bg-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.button{
    display: flex;
    align-items: center;
    background: var(--main-color);
    border-radius: 20px;
    /* padding: 0 20px; */
    height: 32px;
}

.button span{
    font-size: 14px;
    padding: 32px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main a:hover{
    color: var(--white);
    background: #007d04;
    transform: scale(1.1);
}
.content {
    margin-top: 0px;
    height: 477px;
    display: flex;
    background-color: var(--main-color);
    color: var(--white);
}
.content .block{
    margin: 100px 7.3%;
    width: 362px;
}
.content .block h2{
    box-sizing: border-box;
    font-size: 39px;
    font-weight: 600;
    line-height: 39px;
    margin-bottom: 1rem;
}
.content .block p{
    margin-bottom: 2rem;

}
.content .block .b{
    align-items: center;
    background: var(--darker-blue);
    color: var(--white);
    border-radius: 40px;
    padding: 8px 20px;
}
.b span{
    font-size: 15px;
}

.c-two{
    margin-top: 0;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 32px;
    height: auto;
}
.c-two .title{
    align-items: center;
    justify-content: center;
    max-width: 77%;
    width: 77%;
}
.c-two .title h2{
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-justify: inter-word;
    color: var(--main-color);
}
.c-two .text{
    margin-top: 35px;
    text-align: center;
    text-justify: inter-word;
    line-height: 24px;
    max-width: 70%;
    width: 70%;
    color: #333333;
}

.c-three{
    background: #f3f2f3;
    min-height: 265px;
}

/* .c-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.c-four .title{
    align-items: center;
    justify-content: center;
    max-width: 77%;
    width: 77%;
}
.c-four .title h2{
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-justify: inter-word;
    color: var(--main-color);
}
.c-four .text{
    margin-top: 35px;
    text-align: center;
    text-justify: inter-word;
    line-height: 24px;
    max-width: 70%;
    width: 70%;
    color: #333333;
} */


.c-four{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.c-four .title{
    align-items: center;
    justify-content: center;
    max-width: 77%;
    width: 77%;
}
.c-four .title h2{
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-justify: inter-word;
    color: var(--main-color);
}
.c-four .text{
    margin-top: 35px;
    text-align: center;
    text-justify: inter-word;
    line-height: 24px;
    max-width: 70%;
    width: 70%;
    color: #333333;
}

.container{
    width: 1060px;
}
.gallery img{
    padding: 5px;
    border-radius: 18px;
}

.slick-prev:before{
    color: var(--main-color);
}
.slick-next:before{
    color: var(--main-color);
}


#contact {
    width: 100%;
    height: 200px;
    background: green;
}

#footer {
    width: 100%;
    height: 200px;
    background: red;
}


@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1120px){
    .container{
        position: relative;
        padding: 15px;
        max-width: 800px;
        margin: 0 auto;
    }
}

@media (max-width: 1090px){
    .navbar{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        color: var(--black);
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }
}
@media (max-width: 800px){
    .container{
        position: relative;
        padding: 15px;
        max-width: 600px;
        margin: 0 auto;
    }
}
@media (max-width: 610px){
    .container{
        position: relative;
        padding: 15px;
        max-width: 400px;
        margin: 0 auto;
    }
}
@media (max-width: 720px){
    .navbar a{
        display: none;
    }
}
@media (max-width: 410px){

    .container{
        position: relative;
        padding: 15px;
        max-width: 300px;
        margin: 0 auto;
        overflow-x: hidden;
    }
}
/*CUSTOM SCROLL*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #151515dd;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black);
  }