*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #FFFEFE;
    --white: #f3f2f3;
    --text-color: #101010;
    --black: #101010;
    --main-color: #0736f9;
    --darker-blue: #000894;
}
body{
    min-height: 1500px;
    background-color: var(--bg-color);
    color: var(--black);
    overflow: overlay;
}
header{
    position: static;
    width: 100%;
    height: 53px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 28px 12%;
    transition: all .50s ease;
} 
.logo {
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 0px;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--bg-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.button{
    display: flex;
    align-items: center;
    background: var(--main-color);
    border-radius: 20px;
    /* padding: 0 20px; */
    height: 32px;
}

.button span{
    font-size: 14px;
    padding: 32px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main a:hover{
    color: var(--white);
    background: #007d04;
    transform: scale(1.1);
}
.content {
    margin-top: 0px;
    height: 477px;
    display: flex;
    background-color: var(--main-color);
    color: var(--white);
}
.content .block{
    margin: 100px 7.3%;
    width: 362px;
}
.content .block h2{
    box-sizing: border-box;
    font-size: 39px;
    font-weight: 600;
    line-height: 39px;
    margin-bottom: 1rem;
}
.content .block p{
    margin-bottom: 2rem;

}
.content .block .b{
    align-items: center;
    background: var(--darker-blue);
    color: var(--white);
    border-radius: 40px;
    padding: 8px 20px;
}
.b span{
    font-size: 15px;
}

.c-two{
    margin-top: 0;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 32px;
    height: auto;
}
.c-two .title{
    align-items: center;
    justify-content: center;
    max-width: 77%;
    width: 77%;
}
.c-two .title h2{
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-justify: inter-word;
    color: var(--main-color);
}
.c-two .text{
    margin-top: 35px;
    text-align: center;
    text-justify: inter-word;
    line-height: 24px;
    max-width: 70%;
    width: 70%;
    color: #333333;
}

.c-three{
    background: #f3f2f3;
    min-height: 265px;
}

.c-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.c-four .title{
    align-items: center;
    justify-content: center;
    max-width: 77%;
    width: 77%;
}
.c-four .title h2{
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-justify: inter-word;
    color: var(--main-color);
}
.c-four .text{
    margin-top: 35px;
    text-align: center;
    text-justify: inter-word;
    line-height: 24px;
    max-width: 70%;
    width: 70%;
    color: #333333;
}

/* SLIDER */
.container{
    position: relative;
    padding: 15px;
    max-width: 1120px;
    margin: 0 auto;
}

.gallery-wrapper{
    overflow-x: auto;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px
}

.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left, .arrow-right{
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 20px;
    right: auto;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: black;
    background: linear-gradient(to left, transparent 0%, var(--main-color) 200%);
    opacity: 0.5;
    border: 0px;
    transition: all 600ms ease-in-out;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    z-index: 2;
}
.arrow-right{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;

}
.arrow-left:hover,
.arrow-right:hover{
    opacity: 1;
    cursor: pointer;
}

.gallery-wrapper::-webkit-scrollbar{
    display: none;
}

.item{
    height: 318px;
    flex-shrink: 0;
    border-radius: 18px;
    opacity: 1;
    transition: all 600ms ease-in-out;
    z-index: 1;
}
.item:hover{
    opacity: 1;
}
.current-item{
    /* box-shadow: 0 0 10px #000894; */
    opacity: 1;

}


@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1120px){
    .container{
        position: relative;
        padding: 15px;
        max-width: 800px;
        margin: 0 auto;
    }
    .gallery-wrapper::-webkit-scrollbar{
        display: initial;
    }
    .item{
        opacity: 1;
    }
    .current-item{
        box-shadow: none;
        opacity: 1;
    }
    .arrow-left, .arrow-right{
        display: none;
    }
}

@media (max-width: 1090px){
    .navbar{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        color: var(--black);
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }
}
@media (max-width: 800px){
    .container{
        position: relative;
        padding: 15px;
        max-width: 600px;
        margin: 0 auto;
    }
    .item{
        height: 250px;
    }
}
@media (max-width: 610px){
    .container{
        position: relative;
        padding: 15px;
        max-width: 400px;
        margin: 0 auto;
    }
    .item{
        height: 200px;
    }
}
@media (max-width: 720px){
    .navbar a{
        display: none;
    }
}
@media (max-width: 410px){

    .container{
        position: relative;
        padding: 15px;
        max-width: 300px;
        margin: 0 auto;
        overflow-x: hidden;
    }
    .item{
        height: 180px;
    }
}
/*CUSTOM SCROLL*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #151515dd;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black);
  }